<% include header.html %>

<div class="container">
    <% if (success) { %>
    <p class="bg-success color-green">
      <%= success %></p>
    <% } %>
    <% if (error) { %>
    <p class="bg-warning color-red">
      <%= error %></p>
    <% } %>
  <div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 editSection">
    <form class="form-signin" method="post">
      <input type="text" name="postTitle" class="form-control" placeholder="标题" required autofocus="">
      <textarea type="text" name="postMarkdown" class="" rows="20" required placeholder="正文"></textarea>
      <button class="btn btn-primary btn-block savePostBtn" type="submit">记住</button>
    </form>
    <div class="clearfix"></div>
  </div>
  <div class="col-xs-11 col-sm-3 col-md-3 col-lg-3 userinfoSection">
    <div class="infosection">
    <img src="<%= user.image%>" class="img-responsive userimg" alt="Responsive image">
    <h5 class="usermood"><a><%= user.nickn%></a></h5>
    <p class="userautograph">加入：<span class="color_6f6f6f"><%= user.create_at %></span></p>
    <p class="userautograph">心情：<span class="color_6f6f6f"><%= user.mood%></span></p>
    <p class="userautograph">签名：<span class="color_6f6f6f"><%= user.autograph%></span></p>
    <p class="userautograph">自我介绍：<span class="color_6f6f6f"><%= user.selfintro%></span></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
</div>
<div class="clearfix"></div>
<% include footer.html %>