
<footer>
	<div class="container">
		<hr>
		<p>采用<a href="https://nodejs.org/en/">node</a>开发  &copy; FishDiary (<a href="http://fishdiary.cn/homepage">fishdiary.cn</a>) 2015 <a href="http://www.miitbeian.gov.cn/">鄂ICP备16001149号</a> by <a href="/user/568487312abfaccc03798fe4">RyanYu</a></p>
	</div>
</footer>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/offcanvas.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/uploadimg.js"></script>
</body>
</html>