<% include header.html %>

<div class="container">
<% users.forEach(function (user, index) { %>
    <div class="col-xs-12 col-s-4 col-md-4 col-lg-4">
    <div class="row usercenterinfo">
    	<div class="col-xs-2 marpad0">
    		<a href="/user/<%= user._id %>"><img src="<%-user.image %>" class="img-responsive posicenter" style="width:2rem;height:2rem;" alt=""></a>
    	</div>
    	<div class="col-xs-10">
    		<div class="">
		      <p>昵称：<a><%= user.nickn%></a></p>
		      <p>加入：<a><%= user.create_at%></a></p>
		      <p class="text-right"><a href="/user/<%= user._id %>">去看看</a></p>      
		    </div>
    	</div>
    </div>
    
    <hr>
  </div>
<% }) %>
</div>

<% include footer.html %>