<% include header.html %>

<div class="container">
  <div class="col-xs-12">
    <div class="userinfo">
      <p>昵称：<%= user.nickn%></p>
      <p>加入：<%= user.create_at%></p>
      <p>心情：<%= user.mood%></p>
      <p>签名：<%= user.autograph%></p>
      <p>简介：<%= user.selfintro%></p>
      <button class="btn btn-primary btn-block">修改信息</button>
      <a>修改密码？</a>
    </div>
    <form class="form-signin hidden" method="post">
      <h3 class="form-signin-heading text-left">修改信息</h3>
      <input type="text" name="nickn" class="form-control" placeholder="昵称" required>
      <input type="text" name="mood" class="form-control" placeholder="心情">
      <input type="text" name="autograph" class="form-control" placeholder="签名">
      <input type="text" name="selfintro" class="form-control" placeholder="简介">
      <button class="btn btn-primary btn-block" type="submit">好了</button>
    </form>
  </div>
</div>

<% include footer.html %>