<% include header.html %>

<div class="container">
  <div class="col-xs-12 col-s-6 col-md-6 col-lg-6">
    <div class="usercenterinfo">
      <p>昵称：<a><%= user.nickn%></a></p>
      <p>加入：<a><%= user.create_at%></a></p>
      <p>心情：<a><%= user.mood%></a></p>
      <p>签名：<a><%= user.autograph%></a></p>
      <p>简介：<a><%= user.selfintro%></a></p>
      <button id="changeinfo" class="btn btn-primary btn-sm">修改信息</button>
      <a class="changepwd">修改密码？</a>
    </div>
    <hr>
    <form id="usercenterform" class="form-signin hidden usercenterform" method="post">
    <h4 class="form-signin-heading text-left"><a>修改信息</a></h4>
      <input type="text" name="nickn" class="form-control" placeholder="昵称" required>
      <input type="text" name="mood" class="form-control" placeholder="心情">
      <input type="text" name="autograph" class="form-control" placeholder="签名">
      <textarea type="text" name="selfintro" class="form-control selfintro" rows="5" placeholder="简介"></textarea>
      <p class="userinfobtn"><button class="btn btn-primary btn-sm text-left" type="submit">好了</button></p>
    </form>
  </div>
</div>

<% include footer.html %>